.pip-nav-subtitle {
  font-size: 14px;
  opacity: .56;
}

:host ::ng-deep mat-toolbar-row {
  height: initial !important;
  white-space: normal !important;
}

.mat-toolbar {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 12px;
  position: relative;
  .shadow-block {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.12);
  }
}

.pip-nav-content {
  overflow: hidden;
  div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.pip-pic {
  height: 40px;
  width: 40px;
  margin-right: 16px;
  border-radius: 50%;
}
