.pip-nav-subtitle {
    font-family: 'Roboto';
    font-size: 14px;
    opacity: .56;
}

:host ::ng-deep mat-toolbar-row {
    height: initial !important;
    white-space: normal !important;
}

.mat-toolbar {
    padding-top: 16px;
    padding-bottom: 16px;
}

.pip-nav-content {
    overflow: hidden;
}

.pip-pic {
    height: 40px;
    width: 40px;
    margin-right: 16px;
}