.pip-nav-subtitle {
    font-family: 'Roboto';
    font-size: 14px;
    opacity: .56;
}

mat-toolbar-row, .mat-toolbar-row {
    height: 24px;
}

.mat-toolbar {
    padding-top: 16px;
    padding-bottom: 16px;
}