<pip-appbar class="some-class">
  <pip-appbar-icon *pipNavPart="appbarIconPartName" [pipNavPartName]="appbarIconPartName"> </pip-appbar-icon>
  <pip-appbar-breadcrumb *pipNavPart="appbarBreadcrumbPartName" [pipNavPartName]="appbarBreadcrumbPartName"> </pip-appbar-breadcrumb>
  <div fxFlex="grow"></div>
  <pip-appbar-primary-actions *pipNavPart="appbarPrimaryActionsPartName" [pipNavPartName]="appbarPrimaryActionsPartName"> </pip-appbar-primary-actions>
</pip-appbar>

<div class="example-content">
  <h3 style="font-family: Roboto">Icon config</h3>
  <button md-button (click)="onToogleIcon()">Toogle icon visibility</button>
  <button md-button (click)="onChangeIcon()">Change icon</button>

  <h3 style="font-family: Roboto">Breadcrumb config</h3>
  <form>
    <md-input-container>
      <input mdInput name="title1" [(ngModel)]="breadcrumbTitle1">
    </md-input-container>
    <md-input-container>
      <input mdInput name="title2" [(ngModel)]="breadcrumbTitle2">
    </md-input-container>
  </form>
  <button md-button (click)="onToogleBreadcrumb()">Toogle breadcrumb visibility</button>
  <button md-button (click)="onChangeBreadcrumb()">Change breadcrumb</button>

  <h3 style="font-family: Roboto">Primary actions config</h3>
  <button md-button (click)="onTooglePrimaryActions()">Toogle primary actions visibility</button>
</div>
