.example-content {
    padding: 16px;
}

h3 {
    margin-top: 0px;
}

.mat-divider {
    margin: 16px -16px;
}

:host /deep/.pip-document-content .mat-toolbar {
    margin: -16px -16px 16px -16px;
    width: calc(100% + 32px);
}