md-sidenav {
    max-width: 250px;
    width: 250px;
    background-color:   rgb(238, 238, 238);

    //position: relative;
}

.pip-sidenav-container {
    display: block;
    height: 100%;
}

.pip-small {
    md-sidenav {
        max-width: 64px;
        width: 64px;
        min-width: 64px;
    }
    ::ng-deep .mat-drawer-content {
        margin-left: 65px !important;
    }
}

:host {
    height: 100%;
}