<div *ngIf="menuProps && menuProps.sections && menuProps.sections.length" class="pip-sticky-nav-menu">

    <div fxFlex="grow" fxLayout="column">
         <div *ngFor="let section of menuProps.sections let sectionIndex = index" fxLayout="column">
             
            <div *ngIf="sectionIndex > 0" class="pip-section-divider"></div>
            <div fxFlex="grow" *ngIf="section.title" class="pip-nav-menu-section-title">
                {{section.title}}
            </div> 
            <div fxFlex="grow">
                <md-nav-list dense>
                    <md-list-item *ngFor="let item of section.links; let i = index"
                        [ngClass]="{ selected: i == selectedItemIndex }"
                        (click)="onItemSelect(i)" routerLink="/{{ item.url }}">
                        <h3 md-line>{{ item.title }}</h3>
                    </md-list-item>
                </md-nav-list>
            </div>
        </div>

    </div>


</div>