// Sizes
//-----------

$nav-menu-padding: 23px;
$nav-menu-padding-sm: 16px;
$nav-menu-selected-color: rgba(0, 0, 0, 0.08);
$nav-menu-section-color: rgba(0,0,0, .56);


.pip-nav-menu-section-title {
    padding: $nav-menu-padding-sm;
    padding-bottom: $nav-menu-padding-sm /2;
    padding-top: $nav-menu-padding-sm /2;
    color: $nav-menu-section-color;
    font-size: 14px;
}


.pip-section-divider {
border-bottom: 1px solid $nav-menu-selected-color;
margin-bottom: 8px;
margin-top: 8px;
}