:host {
    overflow: hidden;
    &.pip-mobile-breadcrumb {
        .gt-xs-container {
            display: none !important;
        }
    }
    &:not(.pip-mobile-breadcrumb) {
        .xs-container {
            display: none !important;
        }
    }
}

.gt-xs-container {
    padding-left: 8px;
    width: 100%;
    span {
        display: inline-block;
        span, mat-icon {
            display: inline-block;
        }
        span {
            vertical-align: bottom;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            &.with-icon {
                width: calc(100% - 24px);
            }
        }
        mat-icon {
            vertical-align: text-bottom;
        }
    }
}

.xs-container {
    width: 100%;
    margin-top: -2px;
}

.navigation-item,
.search-container {
    cursor: pointer;
    margin-right: 8px;
}

.mat-button {
    font-size: 20px;
    padding-left: 8px;
    padding-right: 8px;
    min-width: 0;
    /deep/.mat-button-wrapper {
        box-sizing: border-box;
        max-height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        max-width: 100%;
        display: inline-block;
    }
}

.search-title-container {
    display: inline-block;
    width: calc(100% - 20px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    &.without-icon {
        width: 100%;
    }
}

.grey-text {
    color: rgba(0, 0, 0, 0.4);
}