<div fxFlex="grow">
  <mat-toolbar color="primary" class="pip-toolbar-shadow">
  </mat-toolbar>
  <pip-document  class="pip-with-toolbar">
    <h3 style="font-family: Roboto">Icon config</h3>
    <button mat-button (click)="onToogleIcon()">Toogle icon visibility</button>
    <button mat-button (click)="onChangeIcon()">Change icon</button>

    <h3 style="font-family: Roboto">Breadcrumb config</h3>
    <form>
      <mat-input-container>
        <input matInput name="title1" [(ngModel)]="breadcrumbTitle1">
      </mat-input-container>
      <mat-input-container>
        <input matInput name="title2" [(ngModel)]="breadcrumbTitle2">
      </mat-input-container>
    </form>
    <button mat-button (click)="onToogleBreadcrumb()">Toogle breadcrumb visibility</button>
    <button mat-button (click)="onChangeBreadcrumb()">Change breadcrumb</button>

    <h3 style="font-family: Roboto">Primary actions config</h3>
    <button mat-button (click)="onTooglePrimaryActions()">Toogle primary actions visibility</button>
    <h3 style="font-family: Roboto">Secondary actions config</h3>
    <button mat-button (click)="onToogleSecondaryActions()">Toogle secondary actions visibility</button>
    <h3 style="font-family: Roboto">Header config</h3>
    <button mat-button (click)="changeVisibleHeader()">Change visability</button>
    <form>
      <mat-input-container>
        <input matInput name="title1" [(ngModel)]="header.title">
      </mat-input-container>
      <mat-input-container>
        <input matInput name="title2" [(ngModel)]="header.subtitle">
      </mat-input-container>
    </form>

    <button mat-button (click)="changeHeaderSubtitle() ">Change title or subtitle</button>
    <h3 style="font-family: Roboto">Menu config</h3>
    <button mat-button (click)="changeVisibleMenu()">Change visability</button>
  </pip-document>
</div>
