<pip-root>
  <pip-floating-sidenav style="height: 100%">
    <pip-sidenav-header></pip-sidenav-header>
    <pip-sidenav-menu ></pip-sidenav-menu>
  </pip-floating-sidenav>
  <pip-root-content>
    <pip-appbar>
      <pip-appbar-icon> </pip-appbar-icon>
      <pip-appbar-breadcrumb > </pip-appbar-breadcrumb>
      <div fxFlex="grow"></div>
      <pip-appbar-primary-actions > </pip-appbar-primary-actions>
      <pip-appbar-secondary-actions ></pip-appbar-secondary-actions>
    </pip-appbar>
    <pip-main>
      <pip-fixed-sidenav>
        <pip-sidenav-header ></pip-sidenav-header>
        <pip-sidenav-menu ></pip-sidenav-menu>
      </pip-fixed-sidenav>
      <pip-main-content>
        <router-outlet></router-outlet>
      </pip-main-content>
    </pip-main>
  </pip-root-content>
</pip-root>