<pip-root-layout>
  <pip-sidenav-floating style="height: 100%">
    <pip-nav-header></pip-nav-header>
    <pip-nav-menu ></pip-nav-menu>
  </pip-sidenav-floating>
  <pip-rightnav-floating>
    <mat-toolbar color="warn">
      <span>Notifications</span>
    </mat-toolbar>
  </pip-rightnav-floating>
  <pip-root-content>
    <pip-appbar>
      <pip-nav-icon> </pip-nav-icon>
      <pip-breadcrumb> </pip-breadcrumb>
      <div fxFlex></div>
      <pip-primary-actions > </pip-primary-actions>
      <pip-secondary-actions ></pip-secondary-actions>
    </pip-appbar>
    <pip-main-layout>
      <pip-sidenav-fixed>
        <pip-nav-header ></pip-nav-header>
        <pip-sidenav-expander></pip-sidenav-expander>
        <pip-nav-menu ></pip-nav-menu>
      </pip-sidenav-fixed>
      <pip-main-content>
        <router-outlet></router-outlet>
      </pip-main-content>
    </pip-main-layout>
  </pip-root-content>
</pip-root-layout>